<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Noticia+Text&family=Tenor+Sans&family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/main.css">
  <title>Sah</title>
</head>

<body class="body">
  <div class="page">
    <nav class="top-bar">
      <ul class="menu">
      <li><a href="{{url_for('sah.index')}}" class="link active">Principala</a></li>
      <li><a href="{{url_for('sah.players')}}" class="link">Jucători</a></li>
        <li><a href="#" class="link">Noutăți</a></li>
        <li><a href="#" class="link">Email</a></li>
        <li><a href="#" class="link">Cabinet</a></li>
      </ul>
    </nav>
    <div class="title">
      <a href="#" class="text">Sah.md</a>
    </div>
    <div class="empty"></div>
    <a href="{{url_for('sah.players')}}" class="subtitle">Cei mai buni sahisti ai Moldovei</a>
  </div>
  <div class="kings">
  	<div class="white_king"></div>
  	<div class="empty"></div>
  <div class="black_king"></div>
  </div>
</body>

</html>