<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/main.css">
  <title>Sah</title>
</head>

<body class="board">
  <nav class="flag-img">
    <div class="gerb">
      <img src="{{url_for('static', filename='img/gerb-md.png')}}" alt="gerb">
    </div>
    <ul class="menu">
      <li><img class="menu-burger" src="{{url_for('static', filename='img/menu-burger.png')}}" alt=""></li>
      <li><a href="#" class="link">Principala</a></li>
      <li><a href="#" class="link active">Jucători</a></li>
      <li><a href="#" class="link">Noutăți</a></li>
      <li><a href="#" class="link">Email</a></li>
      <li><a href="#" class="link">Cabinet</a></li>
    </ul>
  </nav>
  <div class="container-jucatori">
    <div class="second-continer-jucatori grey">
      <section>
        <h1 class="section-title">
          <img class='chess-figure chess-figure-big' src="{{url_for('static', filename='img/icons/rege.png')}}" alt="">
          Бологан, Виорел Антонович
        </h1>
        <div class="card big-card section-card">
          <div class="frame big-frame">
            <a href="#">
              <img src="{{url_for('static', filename='img/sahisti/' + 'Рогозенко, Дориан' + '.jpg')}}" alt="player" class="photo">
            </a>
          </div>
          <div class="details big-details">
            <div class="place">
              <span class="bold">Место рождения:</span><br>
              Кишинёв, Молдавская ССР, СССР
            </div>
            <div class="date">
              <span class="bold">Дата рождения:</span><br>
              14 декабря 1971 (49 лет)
            </div>
            <div class="m-title">
              <span class="bold">Звание:</span><br>
              гроссмейстер (1991)
              международный мастер (1990)
            </div>
            <div class="max-raiting">
              <span class="bold">Максимальный рейтинг:</span><br>
              2734 (август 2012)
            </div>
            <div class="actual-raiting">
              <span class="bold">Актуальный рейтинг:</span><br>
              2574
            </div>
            <a href="#" class="fide_link">Личная карточка на сайте ФИДЕ</a>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">
          <img class='chess-figure' src="{{url_for('static', filename='img/icons/tura.png')}}" alt="">
          Рейтинг
        </h2>
        <hr>
        <img class='section-image' src="static/img/raiting irina bulimaga.png" alt="">
      </section>
      <section>
        <h2 class="section-title">
          <img class='chess-figure' src="{{url_for('static', filename='img/icons/cal.png')}}" alt="">
          Биография
        </h2>
        <hr>
        <p class="section-content">Виорел второй ребёнок в семье. Всего в семье пять сыновей. Отец Виорела — специалист в информатике, его мать — учитель испанского языка.
          Виорел научился играть в шахматы у своего отца в возрасте семи лет. В 1981 году Виорел начал заниматься шахматами с тренером — Ионом Солонаром. В 1984 году Виорел стал кандидатом в мастера. С 1986 года Бологан занимался с молдавским шахматистом Вячеславом Андреевичем Чебаненко.
          В 1988 году Виорел окончил школу с углублённым изучением испанского языка. В 1989 году он поступил и в 1993 году окончил Российскую Государственную Академию Физической Культуры (РГАФК). В 1993 году Бологан поступил в аспирантуру (РГАФК). В 1996 году Бологан защитил кандидатскую диссертацию по теме «Структура комплексной подготовленности шахматистов высокой квалификации». В это же время Бологан начал заниматься шахматами с известным шахматным тренером Марком Дворецким.
          Первым значительным достижением в шахматной карьере Бологана был делёж вместе с Борисом Гельфандом и Алексеем Шировым 1—3 мест на первой доске на молодёжных играх СССР 1989 года. В 1990 году Бологан стал международным мастером.
          В 1991 году Бологан выполнил норму гроссмейстера. Звание гроссмейстера ему было присвоено в октябре 1991 года на Конгрессе ФИДЕ. В 1991 году Виорел Бологан участвовал в последнем чемпионате СССР и занял 7-е место. В январе 1992 года Бологан был 52-м в рейтинг-списке ФИДЕ.
          Бологан 7 лет играл за шахматный клуб Дрездена в Бундеслиге (Германия). В 1993 — 1995 годах Бологан играл за французский клуб Бельфор (Belfort). В 1995 — 1997 годах Бологан играл за клуб «Таттрансгаз» (Казань). В составе этого клуба Бологан в 1996 году выиграл Кубок европейских чемпионов. В 1993 году Бологан выиграл турниры в Остраве и в Лас Пальмасе, в 1995 году — в Москве. В 1997 году Бологан выиграл «Нью-Йорк опен»,
          В 1997 году Бологан решил закончить шахматную карьеру и занялся бизнесом. Однако после экономического кризиса в России в 1998 году возобновил шахматную карьеру и в том же году выиграл турнир в Бурбон-Ланси (Франция)[2].
          В 1997 году Бологан принимал участие в чемпионате мира по шахматам, который впервые проводился по кубковой системе, в городе Гронинген (Нидерланды). Бологан выступил неудачно и вылетел во втором круге.
          В 2000 году Бологан выиграл четыре турнира подряд: в Минске, в Пекине, в Пойковском и разделил первое место с Юдит Полгар, Найджелом Шортом и Анатолием Карповым на мемориале Мигеля Найдорфа в Буэнос-Айресе. Его рейтинг вырос до 2684. В то время (1 января 2001 года) Бологан был 19-м в рейтинг списке ФИДЕ.
          В 2001 году Бологан выиграл турнир в Памплоне (Испания). В 2002 году снова в Памплоне Бологан разделил первое место с Рустамом Касымджановым.
          В. Бологан, Дортмунд, 2003
          Бологан — Ананд, Дортмунд, 2003
          В 2003 году Бологан выиграл открытый турнир «Аэрофлота» в Москве и получил право сыграть в супертурнире в Дортмунде. Высшее достижение Бологана — это выигрыш традиционного супертурнира в Дортмунде (Sparkassen Chess Meeting 2003) в 2003 году. В этом турнире Бологан опередил сильнейших шахматистов: Владимира Крамника, Вишванатана Ананда, Петера Леко.
          В 2004 году на супертурнире в Вейк-ан-Зее Бологан занял пятое место. В 2005 году Бологан разделил с Этьеном Бакро первое место на турнире в Пойковском, а на турнире в Сараево — первое место с Иваном Соколовым. После этих успехов рейтинг Бологана достиг отметки экстра класса — 2700, в то время он был 18-м в рейтинг-списке ФИДЕ.
          В 2006 году Бологан вновь разделил первое место на открытом турнире «Аэрофлота». Он занял также третье место в сильном турнире, который проводился в Форосе (Крым).
          Виорел Бологан постоянно играет на первой доске за команду Молдавии на шахматных олимпиадах. Он участвовал в олимпиадах: в Маниле (1992), в Москве (1994), в Ереване (1996), в Элисте (1998), в Бледе (2002), в Кальвии (2004)[3].
          В течение ряда лет Бологан — сильнейший шахматист Молдавии.
          Виорел Бологан женат, его жена балерина Маргарита Бологан (Макарова) . Дочь — Екатерина 16 лет, сыновья — Антон 10 лет и Платон 1 год.</p>
      </section>
      <section>
        <h2 class="section-title">
          <img class='chess-figure' src="{{url_for('static', filename='img/icons/nebun.png')}}" alt="">
          Книги
        </h2>
        <hr>
        <div class="section-content">
        	<p>Ступени или как стать гроссмейстером. Мемуары шахматиста. Издательство: Издательство Астрель, АСТ, 2006 г., ISBN 5-17-034434-1, 5-271-13052-5, 985-13-6842-3[4]</p>
          <p>Славянская защита. Система Чебаненко. Издательство: Соловьёв Сергей, С.-Петербург, 2008 г., ISBN 5-903609-11-2</p>
          <p>Староиндийская защита. Репертуар за чёрных. Издательство: Соловьёв Сергей, С.-Петербург, 2009, ISBN 978-5-903609-04-8</p>
          <p>Система Россолимо. Сицилианская защита. Издатель: «Андрей Ельков», Москва, 2011, ISBN 978-5-9902352-2-9</p>
          <p>Каталонское начало (репертуар за белых). Издатель: «Андрей Ельков», Москва, 2013, ISBN 978-5-9902352-8-1</p>
          <p>Защита Каро-Канн. Репертуар за черных. Издатель: «Андрей Ельков», Москва, 2020, ISBN 978-5-906254-58-0</p></div>
      </section>
    </div>
    <div class="corner-img">
      <img src="{{url_for('static', filename='img/corner-img.png')}}" alt="chess">
    </div>
  </div>
  <footer class="menu flag-img">
    <div class="gerb">
      <img src="{{url_for('static', filename='img/gerb-md.png')}}" alt="gerb">
    </div>
  </footer>
  <script src="static/main.js"></script>
</body>

</html>