* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  width: 100%;
}

/* fonts {
  font-family: 'Nixie One', cursive;
  font-family: 'Noticia Text', serif;
  font-family: 'Tenor Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
} */

/*****--------------------main-----------------*****/
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.top-bar {
  width: 100%;
}

ul.menu {
  position: relative;
  z-index: 10;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  padding: 2px;
}

.menu li {
  flex-grow: 1;
  text-align: center;
}

.link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-family: 'Noticia Text', sans-serif;
  font-size: 18px;
  padding: 5px 25px;
  margin-left: 5px;

}

.link.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all .3s;
}

.title {
  z-index: 10;
  position: relative;
  margin: 0 auto;
  font-family: Nixie One;
  padding: 25px 5%;
  color: #fff;
  font-size: 140px;
  text-align: center;

  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.title .text {
  text-decoration: none;
  color: #fff;
}

.title:before,
.title:after {
  content: '♕';
  position: absolute;
  font-size: 60px;
  top: 65px;
}

.title:before {
  left: -50px;
}

.title:after {
  right: -50px;
}

.subtitle {
  z-index: 10;
  text-decoration: none;
  font-family: Noticia Text;
  color: #fff;
  font-size: 50px;
  margin-bottom: 75px;
  text-align: center;
}

.body {
  position: relative;

  background: url('img/flag-modova-vint.jpg') center center no-repeat;
  /* url('img/new_board2.png') center center no-repeat; */
  background-size: cover;
}

.kings {
  width: 100%;
  bottom: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 20%;
}

.white_king,
.black_king {
  cursor: pointer;
  width: 200px;
  height: 500px;
}

.white_king img,
.black_king img {
  width: 100%;
  height: 100%;
}

.white_king:hover {
  margin-left: 5%;
  transition: all .5s;
}

.black_king:hover {
  margin-right: 5%;
  transition: all .5s;
}

/*****--------------------main-----------------*****/
/*****--------------------jucatori-----------------*****/

.board {
  position: relative;
  z-index: 1;
}

.board:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  opacity: .1;
  z-index: -1;
  background: url('img/board.jpg') center center;
  background-size: cover;
}

.flag-img {
  width: 100%;
  min-height: 35px;
  background: url('img/Flag-Moldova bar.jpg') center center;
  background-size: cover;
}

.gerb img {
  z-index: 5;
  position: absolute;
  height: 35px;
  left: calc(50% - 17px);

}

.container-jucatori {
  position: relative;
  min-height: calc(100vh - 70px);
  width: 78%;
  margin: 0 auto;
  padding-bottom: 200px;
}

.second-continer-jucatori {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


h1 {
  font-family: Tenor Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  padding: 20px;
}

/*****--------------------card-----------------*****/
/*****--------------------standart-----------------*****/
.card {
  background: #fff;
  overflow: hidden;

  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.3));
  margin-bottom: 20px;
}

.frame {
  position: relative;
  width: 18.5vw;
  height: 24vw;
  overflow: hidden;
}

.frame img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frame img:hover {
  transform: scale(1.3);
  transition: all .3s;
}

.details {
  display: none;
}

.name {
  position: absolute;
  bottom: 10px;
  border-radius: 6px;
  background-color: #fff;
  width: 90%;
  margin: 0 5%;
  padding: 12px 8px 14px;
  text-decoration: none;
  color: #000;
  font-family: Tenor Sans;
  font-size: 18px;
  text-align: center;
}

.card .name:hover {
  width: 100%;
  margin: -12% 0 0;
  transition: all .4s;
  border-radius: 0;
}

.card .name:hover:after {
  content: attr(title);
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
  color: #66cccc;
  border-radius: 3px;
  font-size: 10px;
}

/*****--------------------big-----------------*****/
.big-card {
  width: 100%;
  display: flex;
}

.big-details {
  /* flex-grow: 1; */
  display: block;
  padding: 25px;
}

.big-frame {
  overflow: hidden;
}

.bold {
  font-weight: 700;
}

.fide_link {
  color: #2a3cdf;
  text-decoration: none;
}


/*****--------------------corner img-----------------*****/

.corner-img {
  position: absolute;
  bottom: 0;
  right: 0;

}

.corner-img img {
  max-height: 200px;
}

footer {
  height: 30px;
}

/*****--------------------jucator-----------------*****/
/*****--------------------jucator-----------------*****/
section {
  width: 100%;
}

.section-title {
  font-family: Tenor Sans;
  font-style: normal;
  font-weight: 400;

}

h1.section-title {
  font-size: 50px;
}

h2.section-title {
  font-size: 40px;
  margin-left: 10px;
  padding: 10px;
}

.chess-figure {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 3px 0px 0;
}

.chess-figure-big {
  width: 40px;
  height: 40px;
}

.grey {
  background-color: #EEE;
}

.section-card {
  width: 100%;
  margin: 0;
  font-size: 16px;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}

.section-content {
  background-color: #fff;
  color: #4F4F4F;
  font-family: Tenor Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;

}

hr {
  color: #000;
}

.section-image {
  width: 100%;
  background-color: #fff;
}

/*****--------------------pagination-----------------*****/
.pagination {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  margin-top: 10px;
}

.page-item {
  margin-left: 3px;
}

.page-item:hover .page-link {
  background-color: #99A4AD;
  transition: all .3s;
}

.disabled .page-link {
  background-color: #99A4AD;
}

.page-link {
  display: block;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  border: 1px solid transparent;
}

/*****--------------------media-----------------*****/
/*****--------------------index-----------------*****/
.menu-burger {
  display: none;
}

@media (max-width: 768px) {


  .title {
    font-size: 100px;
    overflow: hidden;
  }

  .title:before,
  .title:after {
    display: none;
  }

  .subtitle {
    font-size: 36px;
  }

  .white_king,
  .black_king {

    width: 150px;
    height: 357px;
  }

}

@media (max-width: 640px) {

  ul.menu {
    flex-direction: column;
    overflow: hidden;
    height: 42px;
  }

  ul.active {
    height: 100vh;
  }

  .menu-burger {
    display: block;
    width: 36px;
    opacity: 0.8;
    cursor: pointer;

  }

  .menu .link {
    font-size: 40px;
  }

  .title {
    font-size: 80px;
  }

  .title:before,
  .title:after {
    display: none;
  }

  .subtitle {
    font-size: 26px;
  }

  .white_king,
  .black_king {

    width: 125px;
    height: 312px;
  }

}

@media (max-width: 411px) {

  .menu {
    overflow: hidden;
  }

  .title {
    font-size: 60px;
    margin: 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  .title:before,
  .title:after {
    display: none;
  }

  .subtitle {
    font-size: 16px;
  }

  .white_king,
  .black_king {

    width: 75px;
    height: 170px;
  }

}

/*****--------------------media-----------------*****/
/*****--------------------index-----------------*****/